<% layout('/layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create new listing</h3>
    <br />
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <br />
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please Enter a Short Description</div>
      </div>

      <br />
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <br />
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            min="1000"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price Should be Valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country Name Should be Valid</div>
        </div>
      </div>

      <br />
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location Should be Valid</div>
      </div>

      <br />
      <button class="btn add-btn">Add</button>
    </form>
    <br /><br />
  </div>
</div>
